# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "development" ]
  workflow_dispatch:
  
jobs:
  hadolint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Dockerfile linting with hadolint
      uses: hadolint/hadolint-action@v3.1.0
      with:
        dockerfile: ./src/Dockerfile

  pylint:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Python 3.12
      uses: actions/setup-python@v2
      with:
        python-version: 3.12

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r ./src/requirements.txt

    - name: Analysing the code with pylint
      run: |
        pylint $(git ls-files './src/*.py')
  
  build_image:
    runs-on: ubuntu-latest
    environment: hivebox-app
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build and Push the Docker Image
        uses: docker/build-push-action@v6
        with:
          context: ./src/
          file: ./src/Dockerfile
          push: true
          tags: |
            ${{ vars.DOCKER_REGISTRY }}/${{ vars.DOCKER_IMAGE_NAME }}:latest
